@{
    ViewData["Title"] = "About Us";
}

<div class="row text-center">
    <h1 class="display-3 pt-5 pb-3 mt-5">About Us</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <p class="h5">
            We're the IT and gaming club for Mid-State Technical College.
            Despite being IT focused, we welcome anybody who would like to play games with their fellow students!
            And by gaming we don't just mean video games, board games are included as well.            
        </p>
    </div>
    <div class="col-sm-6">
        <p class="h5">
            Throughout the year students can participate in various club activities,
            ranging from small video/board game nights to convention visits.
            Not only is this fun, but it's also a great opportunity to network with fellow students. <b>(also food!)</b>            
        </p>
    </div>
</div>