.bg-cyber {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/img/background.jpg'), no-repeat;
  background-size: cover;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  min-height: 100vh;
}
@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}
